* {box-sizing: border-box;margin: 0;padding: 0;}
html, body {height: 100%;}
a,a:visited,a:focus,a:active,a:link {text-decoration: none;outline: 0;}
a {color: currentColor;transition: .2s ease-in-out;}
h1, h2, h3, h4 {margin: .3em 0;}
ul {padding: 0;list-style: none;}
img {vertical-align: middle;height: auto;width: 100%;}
body{background-color: #e1e3e8;}
#contentWrap{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.cardID{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px 8px;
    font-size: 8px;
    color: #888;
}
.cardVal{
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 45px;
    font-size: 1.5rem;
    color: #000;
}
@keyframes blink {
    0% {background-color: #4e73df}
    50% {background-color: #4e72df23}
    100% {background-color: #4e73df}
}
@-webkit-keyframes blink {
    0% {background-color: #4e73df}
    50% {background-color: #4e72df23}
    100% {background-color: #4e73df}
}
.cardStatus{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: block;
    position: absolute;
    bottom: 6px;
    left: 8px;
    background-color: #888;
    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out;
    /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out;
    /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out;
    /* IE */
    animation:blink normal 1.5s infinite ease-in-out;
    /* Opera */
}
.cs_normal{
    background-color: #4e73df;
}
.cardSelect{
    display: block;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url(./arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: none;
    margin: 0 6px 20px 6px;
}
.cardBox{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */
    border-left: 0.25rem solid #4e73df !important;
}
.accordionRow {
    background-color: #f5f5f5;
    color: #93a6c1;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 12px;
    transition: 0.4s;
    font-weight: bold;
}
.activeAcc, .accordionRow:hover {
    color: #45566f ; 
}
.transition, i:before, i:after {
    transition: all 0.3s;
}
.panelAcc {
    padding: 12px;
    display: block;
    background-color: white;
    overflow: hidden;
    transition: .2s ease-in-out;
}
.cardBody{
    padding: 4px;
    gap: 12px;
}
i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 28px;
    right: 15px;
}
i:before,i:after {
    content: "";
    position: absolute;
    background-color: #cc071e;
    width: 3px;
    height: 9px;
}
i:before {
    transform: translate(-2px, 0) rotate(45deg);
}
i:after {
    transform: translate(2px, 0) rotate(-45deg);
}
.starter{
    font-size: 12px;
    padding: 24px 0 0 24px;
}

.afterStyle::after {
    color: #c3c3c3;
    font-size: 12px;
    vertical-align: super;
}
.beforeStyle::before {
    color: #c3c3c3;
    font-size: 9px;
    position: absolute;
    top: 6px;

}
.degreeSign::after {
    content: "°";
}
.kmhSign::after {
    content: " km/h";
}
.oneSign::after {
    content: " one";
}
.twoSign::after {
    content: " two";
}
.threeSign::after {
    content: " three";
}
.windVelocity::before{
    content: "WIND VELOCITY";
}
.panelAngle::before{
    content: "PANEL ANGEL";
}

/* css from bootstrap */

:root {
    --blue: #4e73df;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e74a3b;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --teal: #20c9a6;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #5a5c69;
    --primary: #4e73df;
    --secondary: #858796;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --dark: #5a5c69;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  *::after {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }
  
  body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
  }
  
  a:hover {
    color: #224abe;
    text-decoration: underline;
  }
  
  a:not([href]):not([class]) {
    color: inherit;
    text-decoration: none;
  }
  
  a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }

 /* used css from bootstrap  */

#wrapper {display: flex;}
#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}
.flex-column {flex-direction: column !important;}
.d-flex {display: flex !important;}
#wrapper #content-wrapper #content {
    flex: 1 0 auto;
}
.topbar {
    height: 4.375rem;
}
.bg-white {
    background-color: #fff !important;
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}
.d-flex {
    display: flex !important;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.text-gray-600 {
    color: #858796 !important;
}

.ml-2, .mx-2 {
    margin-left: 0.5rem !important;
}
.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}
.d-none {
    display: none !important;
}
.navbar-expand .navbar-nav {
    flex-direction: row;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.topbar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #d1d3e2;
}
.topbar .nav-item .nav-link {
    height: 4.375rem;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}

.sidebar .nav-item .nav-link, .topbar .nav-item .nav-link {
    position: relative;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}
.navbar-expand .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.text-gray-600 {
    color: #858796 !important;
}
.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}
.flex-wrap {
    flex-wrap: wrap !important;
}

.d-flex {
    display: flex !important;
}

/*   style from bootstrap for header */


.navbar {
    position: relative;
    height: 4.375rem;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #fff!important;
    margin-bottom: 1.5rem!important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.img-profile {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    border-style: none;
    border-radius: 50%!important;
}